!!!
%html{ lang: I18n.locale }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t('.title')

    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'

    %meta{ property: 'og:type', content: 'article' }/
    %meta{ property: 'og:title', content: 'Find your Twitter friends on Mastodon' }/
    %meta{ property: 'og:description', content: 'This bridge tool matches you with your friends in the decentralized Mastodon network' }/
    %meta{ property: 'og:image', content: asset_pack_url('images/preview.jpg') }/
    %meta{ property: 'og:url', content: root_url }/
    %meta{ property: 'og:site_name', content: 'Mastodon Bridge' }/

    %meta{ name: 'twitter:card', content: 'summary' }/
    %meta{ name: 'twitter:site', content: '@MastodonProject' }/

  %body
    .header
      %ul.left
        %li
          = link_to root_path, class: 'brand' do
            = image_pack_tag 'images/logo_full.svg', alt: 'Mastodon Bridge'

      %ul.right
        - if twitter?
          %li= link_to t('.friends'), friends_path

        - if user_signed_in?
          %li= link_to t('.account'), account_path
          %li= link_to t('.logout'), destroy_user_session_path, method: :delete

    - if flash[:notice]
      .flash-message
        %strong Success!
        = flash[:notice]
    - if flash[:alert]
      .flash-message
        %strong Oops!
        = flash[:alert]

    = yield

    %hr/

    %p.footer= t('.footer_html')
