.page-heading
  %h3
    = t('.heading.title')
    %small= t('.heading.description')

%ul.connections
  - @authorizations.each do |authorization|
    %li
      .connection-brand{ class: authorization.provider }
        - if authorization.provider == 'twitter'
          = image_pack_tag 'images/twitter-square.png', alt: 'Twitter'
        - else
          = image_pack_tag 'images/logo.svg', alt: 'Mastodon'

      .connection-info
        %strong= authorization.display_name.presence || authorization.uid
        = fa_icon 'check'
        = link_to t('.disconnect'), authorization_path(authorization), method: :delete, class: 'connection-disconnect-link'
